---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import { Image } from 'astro:assets';

const posts = (await getCollection('blog'));
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>	
			<section>
				<ul>
					{
						posts.map((post) => (
							<li>
								<a href={`/${post.id}/`}>
									<Image width={720} height={360} src={post.data.heroImage} alt="" format="avif" loading="eager" />
									<h4 class="title">{post.data.title}</h4>
									<p class="date">
										<FormattedDate date={post.data.pubDate} />
									</p>
								</a>
							</li>
						))
					}
				</ul>
			</section>
			<!-- <section>
				<div class="model-container">
					<model-viewer
						id="model_1"
						alt="Glas Pflanze 2"
						src="/models/glas_pflanze_2.glb"
						exposure="1.1"
						autoplay
						disable-pan
						disable-zoom
						min-camera-orbit="auto 80deg auto"
						max-camera-orbit="auto 80deg auto"
						shadow-intensity="1"
						shadow-softness="0"
						camera-controls
						touch-action="pan-y"
						interaction-prompt="none"
						auto-rotate
						auto-rotate-delay="0"
						rotation-per-second="-5deg"
					>
					<div class="progress-bar" slot="progress-bar">
						<div class="update-bar"></div>
					</div>
					</model-viewer>
				</div>
			</section> -->
		</main>
		
		<!-- todo: 
		Check lazy loading implementation. 
		find out which leads to best performance. 
		Try create seperate component for web component?
		
		- Google cdn takes longest but once saved loads everything fastest: <script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/4.0.0/model-viewer.min.js"></script>
		- jsdelivr is faster but takes longer to load assets: <script src="https://cdn.jsdelivr.net/npm/@google/model-viewer/dist/model-viewer.min.js"></script>
		- import statment seems to be fastest : <script> import '@google/model-viewer'</script>     
		 
		 -->	
		<!-- <script type="module">
			const body = document.body;
			let loaded = false;
		
			const onInteraction = () => {
			  if (loaded === true) {
				return;
			  }
			  loaded = true;
		
			  const modelViewer = document.createElement('script'); 
			  modelViewer.type = 'module';
			  modelViewer.src = '../node_modules/@google/model-viewer/dist/model-viewer.min.js'; 
			  body.appendChild(modelViewer);
			};
		
			body.addEventListener('mouseover', onInteraction, {once:true});
			body.addEventListener('touchmove', onInteraction, {once:true});
			body.addEventListener('scroll', onInteraction, {once:true});
			body.addEventListener('keydown', onInteraction, {once:true});
		
			const onProgress = (event) => {
			  const progressBar = event.target.querySelector('.progress-bar');
			  const updatingBar = event.target.querySelector('.update-bar');
			  updatingBar.style.width = `${event.detail.totalProgress*100}%`;
			  if (event.detail.totalProgress == 1) {
				progressBar.classList.add('hide');
			  }
			};
		
			document.querySelector('#model_1').addEventListener('progress', onProgress);
		</script> -->
		<Footer />
	</body>
</html>
<style>
			main {
				width: 960px;
			}
			div.model-container {
				min-height: 300px;
				min-width: 300px;
				display: flex;
				justify-content: center;
				margin: 4em;
			}
			ul {
				display: flex;
				flex-wrap: wrap;
				gap: 2rem;
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			ul li {
				width: calc(50% - 1rem);
			}
			ul li * {
				text-decoration: none;
				transition: 0.2s ease;
			}
			/* ul li:first-child {
				width: 100%;
				margin-bottom: 1rem;
				text-align: center;
			}
			ul li:first-child img {
				width: 100%;
			} */
			ul li:first-child .title {
				font-size: 2.369rem;
			}
			/* ul li img {
				margin-bottom: 0.5rem;
				border-radius: 12px;
			} */
			ul li a {
				display: block;
			}
			.title {
				margin: 0;
				color: rgb(var(--black));
				line-height: 1;
			}
			.date {
				margin: 0;
				color: rgb(var(--gray));
			}
			ul li a:hover h4,
			ul li a:hover .date {
				color: rgb(var(--accent));
			}
			ul a:hover {
				box-shadow: var(--box-shadow);
			}
			@media (max-width: 720px) {
				ul {
					gap: 0.5em;
				}
				ul li {
					width: 100%;
					text-align: center;
				}
				ul li:first-child {
					margin-bottom: 0;
				}
				ul li:first-child .title {
					font-size: 1.563em;
				}
			}
		</style>